
@for (car of cars; track car.id) {
<mat-card class="car-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title>{{ car.name }}</mat-card-title>
    <mat-card-subtitle>{{ car.type }}</mat-card-subtitle>
  </mat-card-header>
  <div class="image-container">
    <img mat-card-image [src]="car.image" alt="Photo of a Shiba Inu">
    <div *ngIf="car.isFavorito"><mat-icon fontIcon="favorite" class="fav-icon"></mat-icon></div>
  </div>
  <mat-card-content>
    <p>{{ car.year }}</p>
    <p>R${{ car.pricePerDay }}</p>
  </mat-card-content>
  <mat-card-actions class="btn-container">
    <button mat-stroked-button (click)="redirectTo(car.id)">Ver mais</button>
  </mat-card-actions>
</mat-card>
}