.car-card {
  max-width: 300px;
  display: flex;
  text-align: center;
  align-items: center;
  border-radius: 1rem;
  border: 1px solid #e0e0e0;

  img {
    width: 100%;
  }

  .image-container {
    position: relative;
    width: 100%;

    .fav-icon {
      position: absolute;
      top: .5rem;
      right: .5rem;
      color: red;
      background-color: rgba(255, 255, 255, 0.897);
      border-radius: 50%;
      padding: 4px;
    }
  }
}

