
<h1>Detalhes do Carro</h1>
<div class="container">
  <mat-card class="car-details-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>{{ car.name }}</mat-card-title>
      <mat-card-subtitle>{{ car.type }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="car.image" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>{{ car.year }}</p>
      <p>R${{ car.pricePerDay }}</p>
      <p>{{ car.description }}</p>
    </mat-card-content>
    <mat-card-actions class="car-details-btn">
      <button mat-stroked-button class="btn" (click)="favoritar()"><mat-icon fontIcon="favorite"></mat-icon>Favoritar</button>
      <button mat-stroked-button class="btn" (click)="alugar()"><mat-icon fontIcon="key"></mat-icon>Alugar</button>
    </mat-card-actions>
</mat-card>